.Text {
  display: flex;
  margin: 0 20px 20px 20px;
  font-size: 1.2em;
  text-align: justify;
  font-family: 'Exo', sans-serif;
}

.Right {
  width: 45%;
  justify-content: right;
}

.Left {
  width: 45%;

}

.Center {
  width: 100%;
}

@media (max-width: 500px) {
  .Text {
    display: flex;
    margin: 0;
    font-size: 1.11em;
    text-align: justify;
    font-family: 'Exo', sans-serif;
  }
  
  .Right {
    width: 100%;
    justify-content: right;
  }
  
  .Left {
    width: 100%;
    
  }
  
  .Center {
    width: 100%;
  }
}